html {
	/* On rend le scroll progressif */
	scroll-behavior:smooth;
}
* {
	/* On met toutes les margin et padding à 0 par défaut */
	margin:0;
	padding:0;
}
body {
	/* On fixe la taille de body et on cache tout ce qui dépasse */
	overflow:hidden;
	background-color:white;
	max-width:100vw;
	max-height:200vh;
	background-color:#f1f1f1;
	
}
/* L'élément navigation, fixe en haut de l'écran, avec des transitions de couleur lors du hover */
#navigation {
	position:fixed;
	top:20px;
	right:20px;
	background-color:lightgrey;
	z-index:1000;
	border:2px solid black;
	border-radius:5px;
	cursor:pointer;
	transition: background-color 0.2s ease-in-out;
}
#navigation:hover {
	background-color:grey;
}
#navigation a {
	text-decoration:none;
	color:black;
	font-weight:bold;
	padding:5px;
	width:100%;
	height:100%;
}
/* On fixe la taille de l'élément slider pour qu'il fasse toujours un écran */
#slider {
	width:100vw;
	height:100vh;
	overflow: hidden;
	background-size: contain !important;
	background-position: center !important;
	background-repeat:no-repeat !important;
	background-color:#f1f1f1;
}
/* On règle l'affichage de la description de chaque slide */
#slider div {
	position: absolute;
	width:calc(100vw - 10px);
	top:0;
	left:0;
	padding: 10px 5px;
	background-color: rgba(50,50,50,0.5);
	color: white;
	z-index:1;
}
/* On règle l'affichage des boutons de contrôle du slider et leur position */
#slider .slider-control {
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	cursor: pointer;
	font-size: 2em;
	height: 2em;
	width: 1em;
	line-height: 2em;
	text-align: center;
	text-decoration: none;
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
  	transition: background 0.2s ease-in-out;
}
#slider .prev {
	border-bottom-right-radius: 2em;
	border-top-right-radius: 2em;
}
#slider .next {
	right: 0;
	border-bottom-left-radius: 2em;
	border-top-left-radius: 2em;
}
#slider .pause {
	right: 50%;
	transform: translate(50%,-50%);
	width:2em;
	border-radius : 2em;
}
#slider .slider-control:hover,
#slider .slider-control:active {
	background: rgba(0, 0, 0, 0.8);
	color: grey;
}
/* L'élément réservation doit toujours faire un écran complet également */
#reservation {
	width:100vw;
	height:100vh;
	background-color:#f1f1f1;
}
#carte,#details {
	transition: all 0.5s ease-in-out;
}
/* La carte Leaflet */
#carte {
	height:calc(100vh - 200px);
	width:calc(100vw - 200px);
	box-shadow:5px 5px 10px 0 #c0c0c0;
	position:absolute;
	top:calc(100vh + 100px);
	left:100px;
}
/* On ajoute une classe pour pouvoir facilement changer sa taille en js */
#carte.reservation {
	width:calc(100vw - 650px);
}
/* Le formulaire de réservation, caché par défaut */
#details {
	width:400px;
	position:absolute;
	top:calc(100vh + 100px);
	right:100px;
	display:none;
	box-shadow:5px 5px 10px 0 #c0c0c0;
	background-color:white;
	overflow:hidden;
}
/* On ajoute différentes classes pour pouvoir switcher entre des tailles prédéfinies facilement en js */
#details.reservation {
	display:initial;
	height:calc(((100vh - 350px) / 9) * 5);

}
#details.reservation.openReservation {
	height:calc(100vh - 200px);
}
#details.reservation.noReservation {
	height:calc(((100vh - 350px) / 9) * 4);
}
/* Les règles CSS pour les différents éléments du formulaire */
table {
	width:100%;
	border-collapse:collapse;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
tr {
	height:calc((100vh - 350px) / 9);
}
td,th {
	text-align:center;
	vertical-align:middle;
	padding: 0 20px;
	min-width:100px;
}
.canvas {
	padding:0;
}
canvas {
	width:400px;
	height:150px;
	z-index:100000;
	cursor:crosshair;
}
.close {
	position:absolute;
	right:0;
	padding:5px;
	top:0;
	border:none;
	background:none;
	cursor:pointer;
	transition:color 0.2s ease-in-out;
}
.close:active,.close:hover,.close:target,.close:focus {
	border:none;
	background:none;
	color:red;
	outline:none;
}
input {
    background-color: #fff;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 100%;
    height:32px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.formButton, .formButton:focus {
    color: white;
    width: 150px;
    border-radius: 4px;
    background-color: #39506a;
    box-shadow: inset 0 0 0 0 #121c25;
    transition: all 0.3s ease-in-out;
    cursor:pointer;
    margin: 0 10px;
    padding: 5px 0;
    font-weight:bold;
}
.formButton:hover {
    background-color: #39506a;
    box-shadow: inset 0 36px 0 0 #121c25;
}
/* L'élément permettant d'afficher la réservation en cours, vide par défaut */
#info {
	position:absolute;
	top:calc(200vh - 100px);
	width:100vw;
	height:100px;
	text-align: center;
	vertical-align: middle;
	display:flex;
}
.innerInfo {
	margin:auto;
	background-color:lightgrey;
	z-index:1000;
	border:2px solid black;
	border-radius:5px;
	padding:5px;
}
.cancel {
	padding:5px;
	border:0.5px solid black;
	border-radius:5px;
	background-color:grey;
	cursor:pointer;
}
.cancel:active,.cancel:hover,.cancel:target,.cancel:focus {
	background-color:grey;
	color:red;
	outline:none;
}
/* Les règles css pour les appareils mobiles */
@media all and (max-width:1024px) {
	/* Le corps ne fait plus qu'un écran de hauteur au lieu de deux */
	body {
		max-height:100vh;
	}
	/* On rend l'élément navigation légèrement transparent car il masque du contenu en version mobile */
	#navigation {
		opacity:0.7;
	}
	/* On ajoute cette classe pour pouvoir aisément cacher l'élément à l'affichage du formulaire de réservation en version mobile */
	#navigation.reservation {
		display:none;
	}
	#slider div {
		bottom:0;
		top:initial;
	}
	/* On affiche la carte et le formulaire en plein écran en version mobile */
	#carte, #details {
		height:100vh;
		width:100vw;
		box-shadow: none;
		top:0;
		left:0;
		right:0;
	}
	#details.reservation {
		display:initial;
		height:calc(((100vh - 150px) / 9) * 5);

	}
	#details.reservation.openReservation {
		height:100vh;
	}
	#details.reservation.noReservation {
		height:calc(((100vh - 150px) / 9) * 4);
	}
	tr {
		height:calc((100vh - 150px) / 9);
	}
	canvas {
		width:100vw;
	}
	.formButton {
		width:33vw;
	}
	/* On cache la carte au lieu de la réduire en cas de réservation en version mobile */
	#carte.reservation {
		display:none;
	}
	/* On rend l'affichage de la réservation en cours légèrement transparent car il empiète sur la carte en version mobile */
	#info {
		top:calc(100vh - 120px);
		opacity:0.7;
		z-index:10000;
	}
	/* On cache la réservation en cours lors de l'affichage du formulaire en version mobile */
	#info.reservation {
		display:none;
	}
	
}